body{
text-align:center;
font-family:sans-serif;
background:#222;
color:white;
}

h1{
font-size:50px;
}

button{
font-size:25px;
padding:10px 40px;
}

select{
font-size:20px;
}

#game{
display:none;
background:black;
border:5px solid white;
margin:auto;
}
