body{
text-align:center;
font-family:sans-serif;
background:#222;
color:white;
}

#game{
background:black;
border:5px solid white;
display:none;
margin:auto;
}

button{
font-size:25px;
padding:10px 40px;
cursor:pointer;
}

select{
font-size:20px;
padding:5px;
}

h1{
font-size:50px;
}
