body{

background:#111;

font-family:sans-serif;

text-align:center;

color:white;

}

.logo{

font-size:50px;

margin-top:40px;

animation:flash 2s infinite;

}

@keyframes flash{

0%{transform:scale(1);}

50%{transform:scale(1.1);}

100%{transform:scale(1);}

}

button{

width:250px;

padding:15px;

font-size:25px;

margin:15px;

border:none;

border-radius:15px;

cursor:pointer;

}

button:hover{

transform:scale(1.05);

}

canvas{

background:black;

border:5px solid white;

margin-top:20px;

}
